server.use-forward-headers: true
server.servlet.context-path: /bootifull-21-site

spring.security.oauth2.client.registration.client.client-id: client
spring.security.oauth2.client.registration.client.client-secret: client-secret
spring.security.oauth2.client.registration.client.client-name: Federated SSO
spring.security.oauth2.client.registration.client.provider: my-oauth-provider
spring.security.oauth2.client.registration.client.scope[0]: read
spring.security.oauth2.client.registration.client.scope[1]: write
spring.security.oauth2.client.registration.client.scope[2]: trust
spring.security.oauth2.client.registration.client.redirect-uri: http://localhost:8080/bootifull-21-site/login/oauth2/code/client
spring.security.oauth2.client.registration.client.client-authentication-method: basic
spring.security.oauth2.client.registration.client.authorization-grant-type: authorization_code


spring.security.oauth2.client.provider.my-oauth-provider.authorization-uri: http://localhost:9090/auth/oauth/authorize
spring.security.oauth2.client.provider.my-oauth-provider.token-uri: http://localhost:9090/auth/oauth/token
spring.security.oauth2.client.provider.my-oauth-provider.user-info-authentication-method: header
spring.security.oauth2.client.provider.my-oauth-provider.jwk-set-uri: http://localhost:9090/auth/sign-key/public
spring.security.oauth2.client.provider.my-oauth-provider.user-name-attribute: userName
spring.security.oauth2.client.provider.my-oauth-provider.userInfoUri: http://localhost:9090/auth/user-info

logging.level.org.springframework.security: DEBUG